<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Alterman.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A562E49E1F0FDE1400976398</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A562E4B11F0FDE1400976398</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A562E4BC1F0FDE1500976398</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
